<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" (click)="goHome()"></ion-back-button>
        </ion-buttons>
        <ion-title>DrawGraph</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="cy"></div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button>
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button color="success" (click)="addNode()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="removeNode()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
